# System created folders #
#############
.vscode
__pycache__

# Virtual environment folder #
#############
env

# Packages #
##########
*.pyc
*.whl

# Don't ignore assets files #
##########
!assets/__init__.py
!assets/fileexplorer.py
!assets/popup.py